<template>
  <div class="wrapper">
    <side-bar>
      <template slot="links">
        <sidebar-link to="/Home" :name="$t('sidebar.home')" icon="tim-icons icon-bulb-63"/>
        <!--<sidebar-link to="/dashboard" :name="$t('sidebar.dashboard')" icon="tim-icons icon-chart-pie-36"/>-->
        <sidebar-link to="/Users" id="test" :name="$t('sidebar.users')" icon="tim-icons icon-single-02"/>
        <sidebar-link to="/Displayers" :name="$t('sidebar.displayers')" icon="tim-icons icon-tv-2"/>
        <sidebar-link to="/Applications" :name="$t('sidebar.applications')" icon="tim-icons icon-controller"/>
        <sidebar-link to="/Players" :name="$t('sidebar.players')" icon="tim-icons icon-user-run"/>
        <sidebar-link to="/Sessions" :name="$t('sidebar.sessions')" icon="tim-icons icon-world"/>
        <sidebar-link to="/Options" :name="$t('sidebar.options')" icon="tim-icons icon-settings-gear-63"/>
        <sidebar-link to="/Queue" :name="$t('sidebar.queue')" icon="tim-icons icon-bullet-list-67"/>
        <!--<sidebar-link to="/notifications" :name="$t('sidebar.notifications')" icon="tim-icons icon-tv-2"/>-->
      </template> 
    </side-bar>
    <div class="main-panel">
      <top-navbar></top-navbar>

      <dashboard-content @click.native="toggleSidebar">

      </dashboard-content>

      <content-footer></content-footer>
    </div>
  </div>
</template>
<style lang="scss">
</style>
<script>
import TopNavbar from "./TopNavbar.vue";
import ContentFooter from "./ContentFooter.vue";
import DashboardContent from "./Content.vue";
import MobileMenu from "./MobileMenu";
export default {
    components: {
        TopNavbar,
        ContentFooter,
        DashboardContent,
        MobileMenu
    },
    methods: {
        toggleSidebar() {
            if (this.$sidebar.showSidebar) {
                this.$sidebar.displaySidebar(false);
            }
        }
    }
};
</script>
