<template>
  <div>
    <div class="row">
      <div class="col-12">
        <card type="chart">
          <template slot="header">
            <div class="row">
              <div class="col-sm-6" :class="isRTL ? 'text-right' : 'text-left'">
                <h5 class="card-category">{{$t('dashboard.total')}}</h5>
                <h2 class="card-title">{{$t('dashboard.performance')}}</h2>
              </div>
              <div class="col-sm-6">
                <div
                  class="btn-group btn-group-toggle"
                  :class="isRTL ? 'float-left' : 'float-right'"
                  data-toggle="buttons"
                >
                  <label
                    v-for="(option, index) in bigLineChartCategories"
                    :key="option"
                    class="btn btn-sm btn-primary btn-simple"
                    :class="{active: bigLineChart.activeIndex === index}"
                    :id="index"
                  >
                    <input
                      type="radio"
                      @click="initBigChart(index)"
                      name="options"
                      autocomplete="off"
                      :checked="bigLineChart.activeIndex === index"
                    >
                    {{option}}
                  </label>
                </div>
              </div>
            </div>
          </template>
          <div class="chart-area">
            <line-chart
              style="height: 100%"
              ref="bigChart"
              :chart-data="bigLineChart.chartData"
              :gradient-colors="bigLineChart.gradientColors"
              :gradient-stops="bigLineChart.gradientStops"
              :extra-options="bigLineChart.extraOptions"
              :key="cpt"
            ></line-chart>
          </div>
        </card>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4" :class="{'text-right': isRTL}">
        <card type="chart">
          <template slot="header">
            <h5 class="card-category">{{$t('dashboard.currentRequests')}}</h5>
            <h3 class="card-title">
              <i class="tim-icons icon-refresh-02 text-primary"></i> 8
            </h3>
          </template>
        </card>
      </div>

      <div class="col-lg-4" :class="{'text-right': isRTL}">
        <card type="chart">
          <template slot="header">
            <h5 class="card-category">{{$t('dashboard.currentUsers')}}</h5>
            <h3 class="card-title">
              <i class="tim-icons icon-single-02 text-primary"></i> 8
            </h3>
          </template>
        </card>
      </div>

      <div class="col-lg-4" :class="{'text-right': isRTL}">
        <card type="chart">
          <template slot="header">
            <h5 class="card-category">{{$t('dashboard.currentDisplayers')}}</h5>
            <h3 class="card-title">
              <i class="tim-icons icon-tv-2 text-primary"></i> 10
            </h3>
          </template>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import LineChart from "@/components/Charts/LineChart";
import BarChart from "@/components/Charts/BarChart";
import * as chartConfigs from "@/components/Charts/config";
import TaskList from "./Dashboard/TaskList";
import UserTable from "./Dashboard/UserTable";
import config from "@/config";

export default {
    components: {
        LineChart,
        BarChart,
        TaskList,
        UserTable
    },
    data() {
        return {
            cpt: 0,

            bigLineChart: {
                allData: [
                    [10, 20, 40, 80, 120, 120, 110, 80, 40, 30, 25, 8],
                    [80, 120, 105, 110, 95, 105, 90, 100, 80, 95, 70, 120],
                    [10, 20, 30, 40, 40, 40, 30, 20, 20, 30, 30, 30]
                ],
                activeIndex: 0,
                chartData: null,
                extraOptions: chartConfigs.bigLineChartOptions,
                gradientColors: config.colors.primaryGradient,
                gradientStops: [1, 0.4, 0],
                categories: []
            }
        };
    },
    computed: {
        enableRTL() {
            return this.$route.query.enableRTL;
        },
        isRTL() {
            return this.$rtl.isRTL;
        },
        bigLineChartCategories() {
            return this.$t("dashboard.chartCategories");
        }
    },
    methods: {
        initBigChart(index) {
            console.log(index);

            if (index === 0) {
                // Requests
            } else if (index === 1) {
                // Users
            } else if (index === 2) {
                // Dusplayers
            }

            let chartData = {
                datasets: [
                    {
                        fill: true,
                        borderColor: config.colors.primary,
                        borderWidth: 2,
                        borderDash: [],
                        borderDashOffset: 0.0,
                        pointBackgroundColor: config.colors.primary,
                        pointBorderColor: "rgba(255,255,255,0)",
                        pointHoverBackgroundColor: config.colors.primary,
                        pointBorderWidth: 20,
                        pointHoverRadius: 4,
                        pointHoverBorderWidth: 15,
                        pointRadius: 4,
                        data: this.bigLineChart.allData[index]
                    }
                ],
                labels: [
                    "17:00",
                    "18:00",
                    "19:00",
                    "20:00",
                    "21:00",
                    "22:00",
                    "23:00",
                    "00:00",
                    "01:00",
                    "02:00",
                    "03:00"
                ]
            };
            this.$refs.bigChart.updateGradients(chartData);
            this.bigLineChart.chartData = chartData;
            this.bigLineChart.activeIndex = index;

            this.cpt++; // Force to render the linechart
        }
    },
    mounted() {
        this.i18n = this.$i18n;
        if (this.enableRTL) {
            this.i18n.locale = "ar";
            this.$rtl.enableRTL();
        }
        this.initBigChart(0);
    },
    beforeDestroy() {
        if (this.$rtl.isRTL) {
            this.i18n.locale = "en";
            this.$rtl.disableRTL();
        }
    }
};
</script>
<style>
</style>
