<template>
  <div>
      <div class="row">
        <div class="col-12">
           <p> Welcolme HOME</p> 
            <p>{{this.$store.getters.getUser.username}} : {{this.$store.getters.getUser.role}} </p>
            <!--<a href="/users">sa</a>-->
      </div>
    </div>
  </div>
</template>

<script>
import { userService } from "@/helpers/user.services";

export default {
  name: "Home",

  components: {
  },

  data() {
    return {
    };
  },

  methods: {
  }
  
};
</script>
<style>
</style>
