 <template>
  <card>
    <h5 slot="header" class="title">Create User</h5>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input id="username" label="Username" placeholder="Username" v-model="user.username"></base-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input  id="password" type="password" label="Password" placeholder="Password" v-model="user.password"></base-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input id="confirmPassword" type="password" label="Confirm Password" placeholder="Confirm password" v-model="confirmPassword"></base-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input id="role" label="Role" placeholder="admin/moderator/read-only" v-model="user.role"></base-input>
      </div>
    </div>

    <!--<div class="row">
      <div class="col-md-8 pm-md-1">
        <select>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
</select>
      </div>
    </div>-->

    <base-button
      style="margin-right : 5px;"
      id="btnCreate"
      @click="create()"
      slot="footer"
      type="primary"
      fill
    >Create</base-button>
    <base-button @click="cancel()" slot="footer" type="primary" fill>Cancel</base-button>
  </card>
</template>
<script>
export default {
    name: "CreateUser",

    data() {
        return {
            user: { username: "", password: "", role: "" },
            confirmPassword :"",
        };
    },

    methods: {
        create() {
            // Check if the values are not null
            if (
                this.user.username != "" &&
                this.user.password != "" &&
                this.confirmPassword != "" &&
                (this.user.role == "admin" || this.user.role =="moderator" || this.user.role =="read-only")
            ) {

                if(this.user.password===this.confirmPassword){
                this.$emit("create", this.user);
                }
                else{
                  alert("Password must be the same");
                }
            }
            else{
              alert("Field must not be null or incorrect");
            }
        },
        cancel() {
            this.$emit("cancel", this.user);
        }
    }
};
</script>
<style>
</style>
