<template>
    <div>
        <div class="queue d-flex flex-column align-items-center justify-content-center"
             v-if="app !== null">
            <loader :image="app.logo" :lights="connected" />
            <div class="text-center text-white">
                <h3 class="m-0">{{ app.manifest.name }}</h3>
                <p v-if="jwt === null && !connected">Connexion au serveur</p>
                <p v-else-if="jwt && !connected">Authentification</p>
                <div v-else-if="jwt && connected">
                    <p class="m-0">Connecté au serveur</p>
                    <p class="m-0">Position dans la file: {{ pos }} sur {{ total }}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import loader from '../components/Loader.vue';
import bus from '../event';

export default {
    components: {
        loader,
    },
    mounted() {
        if (this.app === null) {
            this.$router.push({ name: 'menu' });
        } else {
            console.log(this.app.key);
            fetch(`${this.$store.getters['wrapper/serverUrl']}/api/play/${this.app.manifest.name}`, {
                method: 'POST',
                headers: { 'content-type': 'application/json' },
            }).then((res) => {
                res.json().then((data) => {
                    const { jwt } = data;
                    const params = this.$store.getters['wrapper/appConfig'](this.app.manifest.name);
                    this.jwt = jwt;
                    this.appComm.connect(`${this.$store.getters['wrapper/serverUrl']}`, jwt, params).then(() => {
                        console.log('connected!');
                        this.connected = true;
                        this.$store.dispatch('wrapper/configureApp', this.app.manifest.name).then(() => {
                            this.appComm.socket.emit('player-ready');
                        });
                    });
                });
            });

            bus.$on('queue', ({ queuePosition, queueTotal }) => {
                this.pos = queuePosition;
                this.total = queueTotal;
            });
            
            bus.$on('session-ready', () => {
                // TODO look at this more clearly
                this.appComm.socket.emit('player-ready');
            });

            bus.$on('session-go', () => {
                console.log('ready to play!');
                this.$router.push({ name: this.app.key });
            });
        }
    },
    data() {
        return {
            connected: false,
            jwt: null,
            pos: 999,
            total: 999,
        };
    },
    computed: {
        app() {
            return this.$store.state.wrapper.selectedApp;
        },
    },
};
</script>

<style scoped lang="scss">
    @import "../assets/scss/variables";

    .queue {
        width:100%;
        min-height:100vh;
        background: $darkblue;
    }
</style>
