<template>
    <div>
        <div class="loader d-flex justify-content-center align-items-center mb-3">
            <div class="circle-container l1"><div class="blue"></div></div>
            <div class="circle-container l2"><div class="green"></div></div>
            <div class="circle-container l3"><div class="rose"></div></div>
            <div class="circle-container l4"><div class="yellow"></div></div>
            <div class="circle-container l5"><div class="teal"></div></div>
            <div class="lights" v-if="lights">
                <div v-for="n in 20" :class="['light-container-' + n]" :key="n">
                    <div :class="['light-' + n]"></div>
                </div>
            </div>
            <div class="white">
                <img :src="image" />
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        image: String,
        lights: {
            type: Boolean,
            default: () => true,
        },
    },
};
</script>

<style scoped lang="scss">
    @import "../assets/scss/variables";

    @for $i from 1 through 5 {
        @keyframes spin#{$i} {
            0% { transform: rotate($i*72deg); }
            100% { transform: rotate(360deg + $i*72deg); }
        }
    }

    @for $i from 1 through 20 {
        @keyframes light#{$i} {
            0% {
                opacity: 1;
                transform: translateX(0) scale(1);
                top: 0;
            }
            100% {
                opacity: 0;
                transform: translateX(65px) scale(0);
            }
        }

        .light-container-#{$i} {
            position:absolute;
            display:flex;
            align-items:center;
            justify-content:center;
            transform: rotate(233deg*$i);
            width:10em;
            height:10em;
        }

        .light-#{$i} {
            position:relative;
            width: $i/2 + 15px;
            height: $i/2 + 15px;
            background:white;
            border-radius:100px;
            animation: light#{$i} 5s ease-out infinite;
            animation-delay: 0.4s*$i;
        }
    }

    .lights {
        position:absolute;
        width:10em;
        height:10em;
        top:-2.25em;
    }

    .loader {
        width:5.8em;
        height:5.8em;
        position:relative;

        .white {
            width:5em;
            height:5em;
            border-radius:100px;
            position:relative;
            z-index:100;
            overflow:hidden;
            border:3px solid rgba(255,255,255,0.3);
            box-shadow: 0 0 10px rgba(255,255,255,0.4);

            img {
                width:100%;
                height:100%;
            }
        }

        .circle-container {
            width:5.8em;
            height:5.8em;
            position:absolute;
            z-index:5;
            top:0;

            > div {
                width:5em;
                height:5em;
                border-radius:100px;
                opacity:0.8;
            }

            @for $i from 1 through 5 {
                &.l#{$i} {
                    animation: spin#{$i} 17s linear infinite;
                }
            }

            .rose {
                background-color: #594b82;
            }
            .blue {
                background-color: #527b6e;
            }
            .green {
                background-color: #964a58;
            }
            .yellow {
                background-color: #95784d;
            }
            .teal {
                background-color: #5b9797;
            }
        }
    }
</style>
