<template>
    <div>
        <div class="app mb-5" @click="targeted = true" ref="btn">
            <div class="app-content">
                <div class="app-image mb-3">
                    <img :src="app.logo" />
                    <div class="app-overlay d-flex justify-content-between
                                            p-4 align-items-center" :class="{active: targeted}">
                        <div class="app-btn" :class="{active: targeted}" @click="modal = true">
                            <i class="fas fa-info"></i>
                        </div>
                        <div class="app-btn" :class="{active: targeted}" @click="select">
                            <i class="fas fa-play"></i>
                        </div>
                    </div>
                </div>
                <div class="name text-center text-white">
                    <span>{{ app.manifest.name }}</span>
                </div>
            </div>
            <transition name="fade">
                <div class="app-modal d-flex flex-column justify-content-center align-items-end p-4"
                    v-if="modal">
                    <div class="content p-4">
                        <h3 class="text-center">{{ app.manifest.name }}</h3>
                        <p class="m-0">{{ app.manifest.description }}</p>
                    </div>
                    <div class="close text-white mt-4" @click="modal = false">
                        Fermer
                    </div>
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
export default {
    props: ['app'],
    mounted() {
        const { btn } = this.$refs;
        window.addEventListener('click', (e) => {
            if (!btn.contains(e.target)) this.targeted = false;
        });
    },
    data() {
        return {
            targeted: false,
            modal: false,
        };
    },
    methods: {
        select() {
            this.$store.commit('wrapper/selectApp', this.app);
            this.$router.push({ name: 'queue' });
        },
    },
};
</script>

<style scoped lang="scss">
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to{
        opacity: 0;
    }

    .app {

        width:100%;

        .app-modal {
            position:fixed;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background:rgba(0,0,0,0.5);

            .content {
                background:white;
                width:100%;
                border-radius:5px;
            }

            .close {
                background: #52618a;
                border-radius:5px;
                padding:0.3rem 0.5rem;
            }
        }

        .app-image {
            width:100%;
            padding-top:100%;
            position:relative;
            overflow:hidden;
            border-radius:5px;

            img {
                position:absolute;
                top:0;
                width:100%;
                min-height:100%;
            }

            .app-overlay {
                position:absolute;
                top:0;
                width:100%;
                height:100%;
                background:rgba(0,0,0,0.5);
                opacity:0;
                transition: opacity .3s;

                &.active {
                    opacity:1;
                }

                .app-btn {
                    position:relative;
                    background:rgba(255,255,255,0.8);
                    border-radius:100px;
                    width:3em;
                    height:3em;
                    display:flex;
                    justify-content: center;
                    align-items:center;
                    transition: left .5s;

                    &:first-child {
                        left: -4em;
                    }

                    &:last-child {
                        left: 4em;
                    }

                    &.active {
                        left:0;
                    }
                }
            }
        }

        .name span {
            background: #4d578f;
            padding:0.2rem 0.5rem;
            border-radius:100px;
            font-size:0.9rem;
        }
    }
</style>
