 <template>
  <card>
    <h5 slot="header" class="title">Create Displayer</h5>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input label="Name" placeholder="Name" v-model="displayer.name"></base-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input label="Location" placeholder="Location" v-model="displayer.location"></base-input>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          type="number"
          label="Width"
          placeholder="Width"
          v-model.number="displayer.width"
        ></base-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          type="number"
          label="Height"
          placeholder="Height"
          v-model.number="displayer.height"
        ></base-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          type="password"
          label="Password"
          placeholder="Password"
          v-model="displayer.password"
        ></base-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          type="password"
          label="Confirm Password"
          placeholder="Confirm password"
          v-model="confirmPassword"
        ></base-input>
      </div>
    </div>

    <base-button
      style="margin-right : 5px;"
      @click="create()"
      slot="footer"
      type="primary"
      fill
    >Create</base-button>
    <base-button @click="cancel()" slot="footer" type="primary" fill>Cancel</base-button>
  </card>
</template>
<script>
export default {
  data() {
    return {
      displayer: { name: "", width: 0, height: 0, location: "", password: "" },
      confirmPassword: ""
    };
  },

  props: {
  },
  methods: {
    create() {

      if (
        this.displayer.name != "" &&
        this.displayer.location != "" &&
        this.displayer.width != 0 &&
        this.displayer.height != 0 &&
        this.displayer.password != "" &&
        this.confirmPassword != ""
      ) {
        if (this.displayer.password === this.confirmPassword) {
          // Return the new displayer

          this.$emit("create", this.displayer);
        } else {
          alert("Password must be the same");
        }
      } else {
        alert("Field must not be null");
      }
    },

    cancel() {
      this.$emit("cancel", this.displayer);
    }
  }
};
</script>
<style>
</style>
