 <template>
  <card>
    <h5 id="playerDiv" slot="header" class="title">Edit Player</h5>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input label="Username" placeholder="Username" v-model="playerEdit.username"></base-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input label="Status" placeholder="active/inactive/banned" v-model="playerEdit.status"></base-input>
      </div>
    </div>

    <base-button
      style="margin-right : 5px;"
      @click="update()"
      slot="footer"
      type="primary"
      fill
    >Update</base-button>
    <base-button @click="cancel()" slot="footer" type="primary" fill>Cancel</base-button>
  </card>
</template>
<script>
export default {
  name: "EditPlayer",

  props: {
    player: {
      type: Object,
      default: () => {
        return {};
      }
    }
  },

  // State
  data() {
    return {
      playerEdit: {
        username: this.player.username,
        status: this.player.status,
      },
    };
  },

  methods: {
    update() {
      if (
          this.playerEdit.status == "active" ||
          this.playerEdit.status == "inactive" ||
          this.playerEdit.status == "banned")
        {
       
        this.$emit("update", this.playerEdit);
        }
        else{
           alert("Status is not valid");
        }
    },
    cancel() {
      this.$emit("cancel");
    }
  }
};
</script>
<style>
</style>
