<template>
    <div id="app">
        <router-view />
    </div>
</template>

<script>
export default {
    name: 'app',
    mounted() {
        const { origin } = window.location;
        console.log(origin);
    },
};
</script>
