<template>
  <table class="table tablesorter" :class="tableClass">
    <thead :class="theadClasses">
    <tr>
      <slot name="columns">
        <th v-for="column in columns" :key="column">{{column}}</th>
        <th>Actions</th>
      </slot>
    </tr>
    </thead>
    <tbody :class="tbodyClasses">
    <tr v-for="(item, index) in data" :key="index">
      <slot :row="item">
        <td v-for="(column, index) in columns"
            :key="index"
            v-if="hasValue(item, column)">
          {{itemValue(item, column)}}
        </td>
        <td>
            <base-button :disabled="!(role === 'admin') " :name="'btn'+item.username" :id="'btn'+item.username" @click="editItem(item)" style="margin : 5px;" size="sm" class="tim-icons  icon-pencil" type="primary" fill></base-button>           
            <base-button :disabled="!(role === 'admin') " :id="'btnDelete'+item.username" @click="deleteItem(item)" style="margin : 5px;" size="sm" class="tim-icons  icon-trash-simple" type="primary" fill></base-button>
        </td>
      </slot>
    </tr>
    </tbody>
  </table>
</template>
<script>
export default {

    name: 'BaseTableUsers',

        data() {
        return {
            role : this.$store.getters.getUser.role,
        };
    },

    props: {
        columns: {
            type: Array,
            default: () => [],
            description: "Table columns"
        },
        data: {
            type: Array,
            default: () => [],
            description: "Table data"
        },
        type: {
            type: String, // striped | hover
            default: "",
            description: "Whether table is striped or hover type"
        },
        theadClasses: {
            type: String,
            default: '',
            description: "<thead> css classes"
        },
        tbodyClasses: {
            type: String,
            default: '',
            description: "<tbody> css classes"
        },
        /*role: {
            type: String, 
            default: "",
            description: "Role of current user"
        },*/
    },
    computed: {
        tableClass() {
            return this.type && `table-${this.type}`;
        }
    },
    methods: {
        hasValue(item, column) {
            return item[column.toLowerCase()] !== "undefined";
        },
        itemValue(item, column) {
            return item[column.toLowerCase()];
        },
        editItem(item){
            this.$emit("edit",item);
        },
        deleteItem(item){
            this.$emit("delete",item);
        },
    },
    
        beforeMount() {
            //console.log("USERTABLE : " + this.$store.getters.getUser.role);
        } 
};
</script>
<style>
</style>
