<template>
  <table class="table tablesorter" :class="tableClass">
    <thead :class="theadClasses">
    <tr>
      <slot name="columns">
        <th v-for="column in columns" :key="column">{{column}}</th>
        <th>Actions</th>
      </slot>
    </tr>
    </thead>
    <tbody :class="tbodyClasses">
    <tr v-for="(item, index) in data" :key="index">
      <slot :row="item">
        <td v-for="(column, index) in columns"
            :key="index"
            v-if="hasValue(item, column)">
          {{itemValue(item, column)}}
        </td>
        <td>
         <base-button :disabled="!(role === 'admin' || role === 'moderator') " @click="sendMessage(item)" style="margin : 5px;" size="sm" class="tim-icons  icon-chat-33" type="primary" fill></base-button>           
         <base-button :disabled="!(role === 'admin' || role === 'moderator') " @click="editPlayer(item)" style="margin : 5px;" size="sm" class="tim-icons  icon-pencil" type="primary" fill></base-button>
         <base-button :disabled="!(role === 'admin' || role === 'moderator') " @click="deletePlayer(item)" style="margin : 5px;" size="sm" class="tim-icons  icon-trash-simple" type="primary" fill></base-button>           
        </td>
      </slot>
    </tr>
    </tbody>
  </table>
</template>
<script>
export default {
    name: 'BaseTablePlayers',

     data() {
        return {
            role : this.$store.getters.getUser.role,
        };
    },

    props: {
        columns: {
            type: Array,
            default: () => [],
            description: "Table columns"
        },
        data: {
            type: Array,
            default: () => [],
            description: "Table data"
        },
        type: {
            type: String, // striped | hover
            default: "",
            description: "Whether table is striped or hover type"
        },
        theadClasses: {
            type: String,
            default: '',
            description: "<thead> css classes"
        },
        tbodyClasses: {
            type: String,
            default: '',
            description: "<tbody> css classes"
        }
    },
    computed: {
        tableClass() {
            return this.type && `table-${this.type}`;
        }
    },
    methods: {
        hasValue(item, column) {
            return item[column.toLowerCase()] !== "undefined";
        },
        itemValue(item, column) {
            return item[column.toLowerCase()];
        },

        sendMessage(item){
            this.$emit("message",item);
        },
        editPlayer(item){
            this.$emit("edit",item);
        },
        deletePlayer(item){
            this.$emit("delete",item);
        }
    }
};
</script>
<style>

body{
    overflow-x:hidden;
}

</style>
