<template>
  <table class="table tablesorter" :class="tableClass">
    <thead :class="theadClasses">
    <tr>
      <slot name="columns">
        <th v-for="column in columns" :key="column">{{column}}</th>
        <th>Actions</th>
      </slot>
    </tr>
    </thead>
    <tbody :class="tbodyClasses">
    <tr v-for="(item, index) in data" :key="index">
      <slot :row="item">
        <td v-for="(column, index) in columns"
            :key="index"
            v-if="hasValue(item, column)">
          {{itemValue(item, column)}}
        </td>
        <td>
                
          <!--<base-button v-if="item.status=='active'"
            @click="enableApplication(item)"
            style="margin : 5px;"
            size="sm"
            class="tim-icons icon-triangle-right-17"
            slot="footer"
            type="success"
            fill></base-button>
          <base-button v-else
            @click="enableApplication(item)"
            style="margin : 5px;"
            size="sm"
            class="tim-icons icon-triangle-right-17"
            slot="footer"
            type="warning"
            fill></base-button>-->
            
         <base-button :disabled="!(role === 'admin' || role === 'moderator')" @click="editItem(item)" style="margin : 5px;" size="sm" class="tim-icons  icon-pencil" type="primary" fill></base-button>       
         <base-button :disabled="!(role === 'admin' || role === 'moderator')" @click="sendMessage(item)" style="margin : 5px;" size="sm" class="tim-icons  icon-chat-33" type="primary" fill></base-button>   
         <base-button :disabled="!(role === 'admin' || role === 'moderator')" @click="deleteItem(item)" style="margin : 5px;" size="sm" class="tim-icons  icon-trash-simple" type="primary" fill></base-button>
        
        </td>
      </slot>
    </tr>
    </tbody>
  </table>
</template>
<script>
export default {
    name: 'BaseTableApplications',

        data() {
        return {
            role : this.$store.getters.getUser.role,
        };
    },

    props: {
        columns: {
            type: Array,
            default: () => [],
            description: "Table columns"
        },
        data: {
            type: Array,
            default: () => [],
            description: "Table data"
        },
        type: {
            type: String, // striped | hover
            default: "",
            description: "Whether table is striped or hover type"
        },
        theadClasses: {
            type: String,
            default: '',
            description: "<thead> css classes"
        },
        tbodyClasses: {
            type: String,
            default: '',
            description: "<tbody> css classes"
        }
    },
    computed: {
        tableClass() {
            return this.type && `table-${this.type}`;
        }
    },
    methods: {
        hasValue(item, column) {
            return item[column.toLowerCase()] !== "undefined";
        },
        itemValue(item, column) {
            return item[column.toLowerCase()];
        },
        editItem(item){
            //console.log("EDIT USER " + item.id);
            this.$emit("edit",item);
            console.log("CHILD - Edit");
        },
        deleteItem(item){
            console.log("DELETE Application " + item.id);
            this.$emit("delete",item);
        },
        sendMessage(item){
            this.$emit("send",item);
        },
        enableApplication(item) {
            console.log(item.status);
            item.status = (item.status=='active' ? 'inactive' : 'active');
            console.log(item.status);
        },
    }
};
</script>
<style>

body{
    overflow-x:hidden;
}

</style>
