
.displayer{
    display: flex;
    background-color:pink;
}

.displayerInfo{
  //background-color:red;
  width: 100%;
  margin: auto;
}

.displayerBtn{
  //display: flex;
  //background-color: yellow;
  //height: auto;
  margin-left: auto;
}

.displayerScreen{
  background-color:#ecf0f1;
  width: 100%;
  padding-top: 75%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
  margin-left: 0px;
}

#rowTools{
  margin-bottom: 10px;
}

