
/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  //border: 1px solid black;
  -webkit-text-fill-color: white;
  //-webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
.containerLogin{
    position: relative;
    top:20px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 50px;
    border-radius: 2px;
    min-height: 332px;
    width: 500px;
    margin: 0px auto;
}

.containerLogin input[type=button], input[type=submit], input[type=reset]{
    color: white;
}


.modeLogin{
    //background: #0e69f4;
    //@include linear-gradient($info-states, $info);
    background-color: $card-black-background;
}

.modeLogin form{
    color: white;
}

.modeLogin ::placeholder {
    color: white;
}